.registerContainer {
    margin-top: 5%;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    background-color: inherit;
    flex-wrap: wrap;;
}

.registerTitle {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
}

.registerFormContainer {
    width: 40%

}

.registerFormContainer button {
    background-color: #863d3d;
    border: none;
}

.registerFormContainer button:hover {
    background-color: #a06868;
    border: none;
}