.headerContainer {
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #eae9e9;
}

.headerTitle {
  grid-area: 1 / 2 / 2 / 2;
  margin: auto;
}

.headerTitle h1 {
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 8px;
  margin-left: 10%;
  color: #3c3e50;
  float: left;
}
.headerLogo {
  grid-area: 1 / 1 / 2 / 2;
}

.headerLogo {
  margin: 0;
  width: auto;
  max-width: 220px;
}

.logoutbutton {
  grid-area: 1 / 5 / 2 / 6;
  margin: auto 20px auto auto;
}
